<div *ngIf="!acceso; else logueado">
  <h3>Registros</h3>
  <span>Datos personales</span><br><br>
  <label>Nombre</label>
  <input type="text" [(ngModel)]="txtNombre"><br><br>
  <label>Apellido</label>
  <input type="text" [(ngModel)]="txtApellido"><br><br>
  <label>Edad</label>
  <input type="number" [(ngModel)]="txtEdad"><br><br>

  <span>Cuenta</span><br><br>
  <label>Usuario</label>
  <input type="text" [(ngModel)]="txtUs"><br><br>
  <label>Contrasena</label>
  <input type="password" [(ngModel)]="txtPass"><br><br>
  <button (click)="registrar()">REGISTRARSE</button>

  <hr>
  <h3>Login</h3>
  <label>Usuario</label>
  <input type="text" [(ngModel)]="txtUser"><br><br>
  <label>Contrasena</label>
  <input type="password" [(ngModel)]="txtContrasena"><br><br>
  <button (click)="entrar()">ENTRAR</button>
</div>

<ng-template #logueado>
  <h1>Hola, bienvenido a tu cuenta!  {{txtNombre}}</h1>
  <button (click)="salir()">SALIR</button>

</ng-template>
